.services {
    &__title {
        border-bottom: 1px solid $darkbgcolor;
        padding-bottom: 25px;
        margin-bottom: 25px;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0 !important;
        &__item {
            width: 100%;
            padding: 10px;
            &:nth-child(2n) {
                background: $darkbgcolor;
                color: $textcolor;
                @media screen and (min-width: 768px) {
                    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
                }
               
            }
            &-list {
                margin-bottom: 0;
            }
        }
        &__dots {
            position: static;
            margin-top: 15px;
            li {
                button {
                    background: lighten($darkbgcolor, 50%);
                    border-radius: 50%;
                }
            }
            .slick-active button {
                background: $darkbgcolor;
            }
        }

    }
    &-car {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        @media screen and (max-width: 767px) {
            margin-bottom: 25px;
        }
        &__hood {
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all 500ms;
            transform-origin: center top;
            &--open {
                transform: rotateX(70deg);
            }
            @media screen and (max-width: 767px) {
                left: auto;
                right: 0;
                transform-origin: left center;
                width: auto;
                height: 100%;
                &--open {
                    transform: rotateY(70deg);
                }
            }
        }
    }
}